
[submodule "Kodgen"]
	path = Refureku/Generator/ThirdParty/Kodgen
	url = https://github.com/jsoysouvanh/Kodgen
	branch = dev
[submodule "GoogleTests"]
	path = Refureku/Library/ThirdParty/GoogleTests
	url = https://github.com/google/googletest.git
	branch = master
