
[submodule "Refureku/Generator/Submodules/Kodgen"]
	path = Refureku/Generator/ThirdParty/Kodgen
	url = https://github.com/jsoysouvanh/Kodgen
[submodule "Refureku/Library/ThirdParty/GoogleTests"]
	path = Refureku/Library/ThirdParty/GoogleTests
	url = https://github.com/google/googletest.git
