#Folders
Build/
Bin/
Binaries/
Lib/
Logs/
Generated/
enc_temp_folder/
out/

#Exception for the library generated folder
!Refureku/Library/Include/Private/Refureku/Generated
!Refureku/Library/Include/Public/Refureku/Generated

#Settings
*.json

#logs
*.bsc
*.htm

# Binaries
*.exe
*.iobj
*.ipdb
*.pdb
*.ilk
*.dmp

# Visual Studio Files
*.suo
*.csproj.user
*.vbproj.user
*.user
*.vcxproj.filters
*.vcxproj.user
ipch
*sdf
\.vs/